@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Animations only triggered if user does not prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
    .card {
        transition: opacity 1.5s ease, transform 1.5s ease;
    }
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(260, 8%, 14%);
}

/* Navbar Styles */
.navbar-brand {
    margin-top: -20px;
}

.navbar-brand img {
    max-width: 75px;
}

.nav-btn-container a {
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-collapse {
        text-align: center;
        width: 60%;
        background-color: hsl(257, 27%, 26%);
        border-radius: 1rem;
        padding: 1rem 0;
    }
}

.primary-cta {
    border-radius: 2rem;
    min-width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color:#fff;
    background-color: hsl(180, 66%, 49%);
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.primary-cta:hover {
    background-color: hsl(180, 80%, 49%);
    color:#fff;
}


/* Banner Styles */

#banner img {
    max-width: 100%;
}

#banner {
    margin-bottom: 5rem;
    color: #fff;
}
#banner h1 {
    font-size: 3.5rem;
    font-weight: 900;
    padding-bottom: 0.5rem;
}

.subhead {
    font-size: 1.5rem;
    color: gold;
}

/* Section Styles */

section h2 {
    color: #fff;
    font-size: 3rem;
    margin-top: 2.5rem;
}

/* .heading-animation {
    animation: color-change 1s;
}

@keyframes color-change {
    50% { color: goldenrod; }
} */

#projects {
    min-height: 100vh;
}

#projects p {
    color: #fff;
}

#projects p a {
    color: hsl(180, 66%, 49%);
    text-decoration: none;
}

#projects p a:hover {
    color: hsl(180, 80%, 49%);
}

#projects .card {
    background-color: transparent;
    border: none;
    opacity: 0;
    transform: scale(0.5);
}

#projects .card-animation {
    opacity: 1;
    transform: none;
}

#projects .card .card-img-top {
    height: 100%;
    border-radius: 4px;
}

#projects .card h3 {
    color: goldenrod;
    font-size: 1.35rem;
}

#projects .card .card-text {
    color: lightgrey;
}

@media (max-width: 768px) {
    .card { 
        margin-bottom: 1.5rem;
    }
}